.btn3d {
  transition:all .08s linear;
  position:relative;
  outline:medium none;
  -moz-outline-style:none;
  border:0px;
  margin-right:10px;
  margin-top:15px;
}
.btn3d:focus {
  outline:medium none;
  -moz-outline-style:none;
}
.btn3d:active {
  top:9px;
}

.btn-primary1 {
  box-shadow:0 0 0 1px #6e6161 inset, 0 0 0 2px rgb(216, 213, 229) inset, 0 8px 0 0 #636366, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
  background-color: #c7eeb5;
}
