<div class="btn-group btn-matrix"  data-toggle="buttons">
    <button type="checkbox" id="أول من" class="btn btn-primary btn-lg" (click)="cheaked()">أول من</button>
    <button type="checkbox" id="العهد القديم" class="btn btn-secondary btn-lg">العهد القديم</button>
    <button type="checkbox" id="1" class="btn btn-success btn-lg">العهد الجديد</button>
    <button type="checkbox" id="22" class="btn btn-danger btn-lg">المختلف</button>
    <button type="checkbox" id="3" class="btn btn-warning btn-lg">معاني</button>
    <button type="checkbox" id="4" class="btn btn-info btn-lg">تيبيكون</button>
    <button type="checkbox" id="5" class="btn btn-light btn-lg">أعداد</button>
    <button type="checkbox" id="6" class="btn btn-dark btn-lg">أنبياء</button>
    <button type="checkbox" id="7" class="btn btn-primary btn-lg">أعمال</button>
</div>
