<h1>{{totalPoint}}</h1>
<br>
<button type="button" class="btn btn-info btn-rounded" data-mdb-ripple-color="dark"
        (click)="qqq()">  from qusation
</button>
<br>
<h1>{{totalPoint}}</h1>
<div *ngIf="showQuestion" class="list-group list-group-flush w3-animate-fading w3-animate-zoom">
    <a href="#" class="list-group-item   list-group-item-action active list-group-item-info fade-in "
       aria-current="true">
        {{question.question}}    </a>
    <a *ngIf="visibility[0]" role="button" (click)="check(question,1)"
       class="list-group-item list-group-item-action fade-in  ">{{question.possibility1}}   </a>
    <a *ngIf="visibility[1]" role="button" (click)="check(question,2)"
       class="list-group-item list-group-item-action fade-in  ">{{question.possibility2}}</a>
    <a *ngIf="visibility[2]" role="button" (click)="check(question,3)"
       class="list-group-item list-group-item-action fade-in  ">{{question.possibility3}}</a>
    <a *ngIf="visibility[3]" role="button" (click)="check(question,4)"
       class="list-group-item list-group-item-action fade-in show ">{{question.possibility4}}</a>
</div>
